<head>
	{% if site.google_analytics_id %}
		{% include google_analytics.html %}
	{% endif %}
	<title>{{ site.title }}</title>
	{% seo %}

	<!-- Favicon. To use your own favicon, replace the files in the favicon directory-->
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/site.webmanifest">

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
	<noscript><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/noscript.css" /></noscript>
</head>